@import "variables";
@import "colors";
@import "global";
@import "typography";
@import "mixins";

div {
  color: red;
  border: 1px solid orange;
}

%button {
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: $font-family;
  user-select: none;
  color: $color-btn-text;
}

.btn-default {
  @extend %btn;
  background: $color-btn-default;
}

.btn-hot {
  @extend %btn;
  background: $color-btn-hot;
}
